.card {
  margin: 20px 20px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  height: 390px;
//   padding: 3px;
//   transition: 0.3s;
//   border-radius: 5px;
}

img {
  padding: 15px 0 0 0;
  max-width: 300px;
  cursor: pointer;
}

.info{
  padding: 5px 0 0 0;
  width: 300px;
}
