<div class="allButFooter">

  <div class="logo-header">
    <p> Electronics</p>
    <img class="logo-img" src="./assets/images/dea0f3b7f480b1151c08db4a402a43b9.jpg">
  </div>


  <div class="menu-header">

    <button mat-raised-button color="accent"
            routerLink="/">
      <mat-icon>home</mat-icon>
      Home page
    </button>

    <button mat-raised-button color="accent" routerLink="products">Categories</button>

    <span class="spacer"></span>

    <button mat-icon-button routerLink="cart">
      <mat-icon [matBadge]="cartCount" matBadgeColor="primary">shopping_cart</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>

  </div>

  <!--CONTENT-->
  <router-outlet></router-outlet>

</div>

<!--footer-->
<footer>
  <div>
    © Maria Dragan, 2021
  </div>
  <div>
        <a href="https://t.me/mashadragan"><mat-icon>telegram</mat-icon></a>
        <a href="https://www.facebook.com/marmylad/"><mat-icon>facebook</mat-icon></a>
        <a href="mailto:mariadrag755@gmail.com"><mat-icon>mail</mat-icon></a>
  </div>

</footer>

