<ng-container *ngIf="cartService.isCartEmpty(); else notEmpty">
  <h1>Your cart is currently empty.</h1>
</ng-container>


<ng-template #notEmpty>
  <mat-card>
    <h2>Shopping Cart</h2>

    <mat-divider></mat-divider>

    <ng-container *ngFor="let product of this.cartService.cartMap | keyvalue">

      <mat-grid-list cols="4" rowHeight="2:1">
        <!--    1-->
        <mat-grid-tile>
          <img style="width: 40%" src="{{product.key.image}}">
        </mat-grid-tile>

        <!--    2-->
        <mat-grid-tile >
          <div class="left">
          {{product.key.title | uppercase}} <br>
          {{product.key.company}}, {{product.key.category}}<br>
          {{product.key.price | currency }}
          </div>
        </mat-grid-tile>

        <!--    3-->
        <mat-grid-tile>
          <button mat-mini-fab color="accent" style="margin: 0 5px" (click)="decreaseCount(product.key)">
            <mat-icon>remove</mat-icon>
          </button>
          {{product.value}}
          <button mat-mini-fab color="accent" style="margin: 0 5px" (click)="increaseCount(product.key)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-grid-tile>

        <!--    4-->
        <mat-grid-tile>
          <button mat-mini-fab color="accent" style="margin: 0 5px" (click)="deleteFromCart(product.key)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-grid-tile>

      </mat-grid-list>

      <mat-divider></mat-divider>
    </ng-container>


    <!--    total price-->
    <div class="total">
      <p class="total_name">SUBTOTAL {{this.cartService.getTotalPrice() | number: '1.1-1'}}$</p>
      <button mat-flat-button color="primary" class="total_btn" (click)="cartService.removeAll()">CHECK OUT</button>
    </div>


  </mat-card>

</ng-template>
